@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap'); 
.Increment {
    position: relative;
    background-color: #04AA6D;
    border: none;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .Increment:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .Increment:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  .clicky {
    padding: 5px 15px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .clicky:hover {background-color: #3e8e41}
  
  .clicky:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
welcomer{
  font-family: 'Oswald', sans-serif;
}  